:root {
  --primary: rgb(23, 184, 184); 
  --compliment: rgb(164, 14, 76);
  --lean-in: rgb(44, 44, 84);
  --peach: rgb(245, 214, 186);
  --tangy: rgb(244, 157, 110);
}

body {
  background: var(--primary);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-image: url(../src/assets/img/hero.jpg);
  background-size: cover;
  padding: 0; 
  margin: 0;
}

header h2 {
  margin: 0;
  padding: 50px;
  color: var(--lean-in); 
}

footer {
  background-color: var(--peach);
  margin: 0 100px;
  display: flex; 
  padding: 50px; 
  text-align: center; 
}

footer span {
  display: flex; 
  margin: auto; 
  padding: 20px; 
}

footer span a {
  text-decoration: none;
  color: var(--lean-in);
  cursor: pointer;
}

nav {
  margin: 0 100px;
  display: flex; 
  justify-content: space-around;
  width: fit-content;
}

main {
  display: flex; 
}

.about-me {
  background-color: var(--peach);
  text-align: center;
  margin: 0 100px;
  display: flex; 
  justify-content: space-around;
}

.about-me img {
  max-width: 300px;
  max-height: 300px;
}

.about-me p {
  color: var(--lean-in);
  font-size: 1.2vw;
}

.projects {
  background-color: var(--peach);
  text-align: center;
  margin: 0 100px;
  display: flex; 
  justify-content: space-around;
}

.projects a {
  text-decoration: none; 
  color: var(--lean-in);
  cursor: pointer;
}

.projects .img img {
  max-width: 40%;
  max-height: 40%;
}

.contact {
  background-color: var(--peach);
  margin: 0 100px;
  display: flex; 
}

.contact form {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-buttons {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact button {
  text-align: center;
  margin: 20px; 
  padding: 20px;
}

.form-component {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.form-component div {
  margin: 50px;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.form-component div label {
  flex-basis: 200px;
}

.form-component div input {
  flex-basis: 200px; 
}

.message-form {
  display: flex;
  flex-basis: 100%;
}

.message-form label {
  flex-basis: 200px;
}

.message-form textarea {
 flex-basis: 200px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:980px) {
  nav {
    justify-content: space-between; 
  }
}

@media screen and (max-width: 768px) {

}

