:root {
  --primary: rgb(23, 184, 184); 
  --compliment: rgb(164, 14, 76);
  --lean-in: rgb(44, 44, 84);
  --peach: rgb(245, 214, 186);
  --tangy: rgb(244, 157, 110);
}

body {
  background: var(--primary);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 0; 
  margin: 0px 50px;
  background-color: var(--primary);
}

nav {
  display: flex; 
  justify-content: space-between;
  margin: 0 -50px;
  padding: 10px;
  width: min-content;
  background-color: var(--compliment);
}

main {
  display: flex; 
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:980px) {
  nav {
    justify-content: space-between; 
  }
}

@media screen and (max-width: 768px) {

}

