:root {
  --primary: rgb(23, 184, 184); 
  --compliment: rgb(164, 14, 76);
  --lean-in: rgb(44, 44, 84);
  --peach: rgb(245, 214, 186);
  --tangy: rgb(244, 157, 110);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


body {
  background: var(--primary);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-image: url(../src/assets/img/hero.jpg);
  background-size: cover;
  padding: 0; 
  margin: 0;
}

header h2 {
  animation: 1s ease-out 0s 1 slideInFromRight;
  font-family: 'Roboto'; 
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 50px;
  color: var(--lean-in); 
}

footer {
  background-color: var(--peach);
  margin: 0 100px;
  display: flex; 
  padding: 50px; 
  text-align: center; 
}

footer span {
  display: flex; 
  margin: auto; 
  padding: 20px; 
}

footer span a {
  text-decoration: none;
  color: var(--lean-in);
  cursor: pointer;
}

footer span a:hover {
  color: var(--compliment);
}

nav {
  margin: 0 100px;
  display: flex; 
  justify-content: space-around;
  width: fit-content;
}

main {
  display: flex; 
}

.about-me {
  background-color: var(--peach);
  text-align: center;
  margin: 0 100px;
  display: flex; 
  justify-content: space-around;
}

.about-me img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 15px;
  margin: 30px;
}

.about-me p {
  color: var(--lean-in);
  font-size: 1.2vw;
  margin: 2vw;
}

.projects {
  background-color: var(--peach);
  text-align: center;
  margin: 0 100px;
  padding: 10px 10px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects a {
  text-decoration: none; 
  color: var(--lean-in);
  cursor: pointer;
}

.projects .img img {
  max-width: 40%;
  max-height: 40%;
}

.project-content {
  background-image: url(../src/assets/img/treaddit.png);
  width: 200px; 
}

.contact {
  background-color: var(--peach);
  margin: 0 100px;
  display: flex; 
}

.contact form {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-buttons {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact button {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: x-large;
  color: beige;
  margin: 20px; 
  padding: 20px;
  background-image: linear-gradient(92.88deg, var(--lean-in) 9.16%, var(--primary) 43.89%,  #FF00FF 64.72%);
  border-radius: 8px;
  border-style: none;
}

.contact a {
  text-align: center;
  text-decoration: none;
  flex-basis: 100%;
  padding: 5px;
  margin: 10px;
  border-radius: 2px;
  background-color: var(--lean-in);
  color: var(--peach); 
  cursor: pointer;
}

.contact a:hover {
  color: var(--compliment);
}

.form-component {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.form-component div {
  margin: 50px;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}

.form-component div label {
  flex-basis: 200px;
}

.form-component div input {
  flex-basis: 200px; 
}

.message-form {
  display: flex;
  flex-basis: 100%;
}

.message-form label {
  flex-basis: 200px;
}

.message-form textarea {
 flex-basis: 200px;
}

.resume {
  background-color: var(--peach);
  text-align: center;
  margin: 0 100px;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
}

.resume a {
  text-decoration: none;
  flex-basis: 100%;
  padding: 20px;
  margin: 10px;
  border-radius: 2px;
  background-color: var(--lean-in);
  color: var(--peach); 
  cursor: pointer;
}

.resume h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 2vw; 
  color: var(--lean-in);
}

.resume ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: flex; 
  flex-wrap: wrap;
}

.resume li {
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  color: var(--lean-in);
  flex-basis: 30%;
}

/* experimental show on hover on project page*/
/* .hide {
  display: none;
} */
/* 
.show:hover .hide {
  display: block;
} */

/* grow on hover */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

/* bob on hover */
@-webkit-keyframes bob-on-hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-on-hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.bob-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
  -webkit-animation-name: bob-on-hover-float, bob-on-hover;
  animation-name: bob-on-hover-float, bob-on-hover;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:1434px) {
  nav {
    justify-content: space-between; 
  }

  .about-me {
    background-color: var(--peach);
    text-align: center;
    margin: 0 100px;
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
  }

  .about-me img {
    margin: auto;
    text-align: center;
    max-width: 200px;
    max-height: 200px;
  }

  .contact form {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-buttons {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

@media screen and (max-width:980px) {
  nav {
    justify-content: space-between; 
  }

  .about-me {
    background-color: var(--peach);
    text-align: center;
    margin: 0 100px;
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
  }

  .about-me img {
    margin: auto;
    text-align: center;
    max-width: 200px;
    max-height: 200px;
  }

  .contact form {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-buttons {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between; 
    margin: 0;
  }

  .about-me {
    background-color: var(--peach);
    text-align: center;
    margin: 0px; 
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
  }

  .about-me p {
    font-size: medium; 
  }
  .about-me img {
    margin: auto;
    text-align: center;
    max-width: 100px;
    max-height: 100px;
  }

  footer {
    font-size: x-small;
    margin: 0;
    background-color: var(--peach);
    display: flex; 
    padding: 25px; 
    text-align: center; 
  }

  .projects {
    margin: 0; 
  }

  .contact {
    background-color: var(--peach);
    text-align: center;
    margin: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
  }

  .contact a {
    text-decoration: none;
    flex-basis: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    background-color: var(--lean-in);
    color: var(--peach); 
    cursor: pointer;
  }

  .contact form {
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .contact-buttons {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

  .resume {
    background-color: var(--peach);
    text-align: center;
    margin: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
  }
  
  .resume a {
    text-decoration: none;
    flex-basis: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: 2px;
    background-color: var(--lean-in);
    color: var(--peach); 
    cursor: pointer;
  }
  
  .resume h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 20px; 
    color: var(--lean-in);
  }
  
  .resume ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .resume li {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    color: var(--lean-in);
    flex-basis: 50%;
  }
}